:root {
    --bg-rose: #ffabd4;
    --bg-red: #ff055c;
    --bg-darkred: red;
    --bg-darkgray: #474445;
    --bg-black: #000000;
    --bg-blue: #0d87ff;
    --bg-lightblue: #8cc6ff;
    --bg-skyblue: skyblue;
    --bg-orange: #ffa60d;
    --bg-lightorange: #ffdc96;
    --bg-white: #ffffff;
    --bg-yellow: yellow;
    --bg-lightgreen: #51f57d;
    --bg-shadow: rgba(116, 117, 116, .5);
  }

  .branco {
    color: var(--bg-white);
  }

  .relative {
    position: relative !important;
  }

  .status {
    display: block;
  }

  #pokepesquisa {
    margin: 0;
    position: absolute;
    top: 15%;
    left: 36%;
    transform: translate(0%, -50%) 
  }

  .pokebotao {
    width: 250px;
    position: absolute;
    border-radius: 10px;
    padding-left: 10px;
    left: 80px;
    height: 30px;
    bottom: 35px;
    font-size: 20px;
    font-family: 'Arial';
    color: black;
    outline: none;
  }

  .pokeId {
    width: 100%;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    font-size: 25px;
    overflow-wrap: break-word;
    margin-top: 5px;
  }

  .nome {
    font-size: 25px !important;
  }

  #sorte {
    margin-left: 80px;
  }

  body {
    background-image: url("../img/fundoPoke.png");
  }

  .font {
    font-family: 'Press Start 2P', cursive;
    letter-spacing: 2px;
    margin-left: 10px;
  }

  .imagem img {
    height: 135px;
    width: 178px;
  }

  .pokeindex * {
    position: absolute;
  }
  
  .pokeindex {
    padding-left: 200px;
    height: 700px;
    width: 600px;
    margin: 0px;
    display: flex;
    align-items: center;
  }

  .pokelogo img {
    height: 900px;
    float: left;
  }

  .pokelogo1 img {
    height: 150px;
    margin-top: 0px;
    float: right;
}
  
  .pokeindex-left {
    height: 60%;
    width: 47%;
    background-color: var(--bg-red);
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    border: 2px solid var(--bg-black);
    border-right-color: var(--bg-red);
    border-radius: 0 0 0 10px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
  }
  
  .pokeindex-left::before {
    content: '';
    display: block;
    position: absolute;
    width: 55%;
    height: 10%;
    border: 2px solid var(--bg-black);
    background-color: var(--bg-red);
    border-radius: 200px 0 0 0;
    border-bottom: var(--bg-red);
    top: -10%;
    right: -4px;
  }
  
  .pokeindex-left__top {
    width: 114%;
    height: 25%;
    border: 2px solid var(--bg-black);
    border-radius: 10px 10px 0 0;
    background-color: var(--bg-red);
    top: -26%;
    left: -1%;
    z-index: -1;
  }
  
  .circle-big {
    height: 70%;
    width: 24%;
    border: 2px solid var(--bg-black);
    border-radius: 50%;
    background-color: var(--bg-white);
    top: 10%;
    left: 3%;
  }
  
  .circle-big::before {
    content: '';
    display: block;
    position: absolute;
    height: 75%;
    width: 75%;
    border: 2px solid var(--bg-black);
    border-radius: 50%;
    background-color: var(--bg-blue);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .circle-big::after {
    content: '';
    display: block;
    position: absolute;
    height: 15%;
    width: 18%;
    border-radius: 40px / 30px;
    background-color: var(--bg-skyblue);
    top: 25%;
    left: 25%;
    transform: rotate(-45deg);
  }
  
  .circle-small {
    height: 15%;
    width: 5%;
    border: 2px solid var(--bg-black);
    border-radius: 50%;
    background-color: var(--bg-yellow);
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .circle-small::before {
    content: '';
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    border: 2px solid var(--bg-black);
    background-color: var(--bg-darkred);
    border-radius: 50%;
    top: -15%;
    left: -200%;
  }
  
  .circle-small::after {
    content: '';
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    border: 2px solid var(--bg-black);
    background-color: var(--bg-lightgreen);
    border-radius: 50%;
    top: -15%;
    right: -200%;
  }
  
  .pokeindex-left__screen { 
    height: 50%;
    width: 80%;
    border: 2px solid var(--bg-black);
    background-color: var(--bg-white);
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    border-radius: 5px 5px 5px 15%;
    position: relative;
  }
  
  .pokeindex-left__buttons { 
    height: 30%;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    display: flex;
    flex-flow: column nowrap;
  }
  
  .pokeindex-left__buttons .buttons { 
    height: 50%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    position: relative;
  }
  
  .pokeindex-left__buttons .buttons .buttons-circle { 
    height: 70%;
    width: 20%;
    border: 2px solid var(--bg-black);
    background-color: var(--bg-darkgray);
    border-radius: 50%;
    position: relative;
    margin-right: 5%;
  }
  
  .pokeindex-left__buttons .buttons .buttons-quad { 
    height: 70%;
    width: 50%;
    position: relative;
    display: flex;
    justify-content: space-between;
  }
  
  .pokeindex-left__buttons .buttons .buttons-quad span { 
    height: 10%;
    width: 42%;
    border: 2px solid var(--bg-black);
    position: relative;
    border-radius: 5px
  }
  
  .pokeindex-left__buttons .buttons .buttons-quad span:nth-child(1) {
    background-color: var(--bg-darkred);
  }
  
  .pokeindex-left__buttons .buttons .buttons-quad span:nth-child(2) {
    background-color: var(--bg-lightblue);
  }
  
  .pokeindex-left__buttons .controller { 
    height: 50%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    position: relative;
  }
  
  .pokeindex-left__buttons .controller .controller-touch { 
    height: 75%;
    width: 40%;
    border: 2px solid var(--bg-black);
    background-color: var(--bg-lightgreen);
    border-radius: 5px;
    position: relative;
  }
  
  .pokeindex-left__buttons .controller .controller-joystick {
    height: 30%;
    width: 30%;
    border: 2px solid var(--bg-black);
    background-color: var(--bg-darkgray);
    border-radius: 5px;
    position: relative;
    margin-left: 5%;
  }
  
  .pokeindex-left__buttons .controller .controller-joystick::before {
    content: '';
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    border: 2px solid var(--bg-black);
    background-color: var(--bg-darkgray);
    border-radius: 5px;
    transform: rotate(90deg);
    left: -2%;
    top: -10%;
  }
  
  .pokeindex-left__buttons .controller .controller-joystick::after {
    content: '';
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background-color: var(--bg-darkgray);
    border-radius: 5px;
    left: 0;
    top: 0;
  }
  
  .pokeindex-left__screen .dots {
    height: 4%;
    width: 15%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    position: relative;
  }
  
  .pokeindex-left__screen .dots span { 
    height: 100%;
    width: 25%;
    border: 2px solid var(--bg-black);
    background-color: var(--bg-red);
    border-radius: 50%;
    position: relative;
    display: flex;
  }
  
  .pokeindex-left__screen .screen {
    height: 65%;
    width: 80%;
    border: 2px solid var(--bg-black);
    background-color: var(--bg-lightgreen);
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    border-radius: 10px;
  }
  
  .pokeindex-left__screen .status {
    height: 20%;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .pokeindex-left__screen .status .status-light {
    height: 50%;
    width: 12%;
    border: 2px solid var(--bg-black);
    background-color: var(--bg-red);
    border-radius: 50%;
    position: relative;
  }
  
  .pokeindex-left__screen .status .status-light::after {
    content: '';
    display: block;
    position: absolute;
    height: 25%;
    width: 28%;
    border-radius: 40px / 30px;
    background-color: var(--bg-rose);
    top: 20%;
    left: 20%;
    transform: rotate(-45deg);
  }
  
  .pokeindex-left__screen .status .status-sound {
    height: 55%;
    width: 17%;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
  }
  
  .pokeindex-left__screen .status .status-sound span{ 
    height: 15%;
    width: 100%;
    background-color: var(--bg-black);
    position: relative;
    border-radius: 5px;
  }
  
  .pokeindex-middle {
    height: 60%;
    width: 6%;
    background-color: var(--bg-red);
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    border: 2px solid var(--bg-black);
    box-shadow: inset 8px 0px 1px var(--bg-shadow);
  }
  
  .pokeindex-middle::before {
    content: '';
    position: absolute;
    display: block;
    height: 9%;
    width: 100%;
    border-top: 2px solid var(--bg-black);
    border-bottom: 2px solid var(--bg-black);
    left: 0;
    top: -10%;
    box-shadow: inset 8px 0px 1px var(--bg-shadow);
  }
  
  .pokeindex-middle::after {
    content: '';
    position: absolute;
    display: block;
    height: 5%;
    width: 100%;
    border-top: 2px solid var(--bg-black);
    border-bottom: 2px solid var(--bg-black);
    left: 0;
    bottom: 5%;
  }
  
  .pokeindex-right {
    height: 60%;
    width: 47%;
    background-color: var(--bg-red);
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    border: 2px solid var(--bg-black);
    border-left-color: var(--bg-red);
    border-radius: 0 5px 5px 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
  }
  
  .pokeindex-right::before {
    content: '';
    display: block;
    position: absolute;
    width: 55%;
    height: 10%;
    border: 2px solid var(--bg-black);
    background-color: var(--bg-red);
    border-radius: 0 200px 0 0;
    border-bottom: var(--bg-red);
    top: -10%;
    left: -4px;
  }
  
  .pokeindex-right__screen {
    margin: 0;
    width: 80%;
    height: 80%;
    border: 2px solid var(--bg-black);
    border-radius: 10px;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
    background-color:var(--bg-darkgray) ;
    position:absolute;
    overflow-y:scroll;
    overflow-x:hidden;
  }

  .poke-enter {
    height: 50px;
    width: 50px;
    margin-left: 350px ;
    margin-top: -48px;
    position: absolute;
    animation: shake 2.0s ease-in infinite;

  }

  @keyframes shake {
    0% {
      transform: rotate(0deg);
    }
    
    100% {
      transform: rotate(360deg);
    }
  }



