.hdr-img {
    width: 180px;
    float: left;
    margin-left: 250px;
}

.header {
    width: 100%;
    background: linear-gradient(135deg, #022135 0%,#ffffff 100%);
    box-shadow: 0 6px 6px rgba(0,0,0,0.4);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    box-sizing: border-box;
    text-align: right;
}

.header ul {
    display: inline-block;
    margin-top: 50px;
    margin-right: 250px;
    margin-left: -250px;
    font-size: 22px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

a:hover {
    color: rgb(47, 104, 191);
}
