.cadastro-pacote {
    margin-top: 300px;
    text-align: center;
}

Input {
    margin-top: 10px;
    width: 300px;
}

.btn-pacote {
    height: 30px;
    margin-top: 10px;
}

.exito {
    margin-top: 1000px;
    text-align: right;
    background-color: green;
}

.erro-espaco {
    margin-top: 1000px;
    text-align: right;
    background-color: red;
}
