body {
    height: 100%;
    margin: 0;
    background: linear-gradient(135deg, #022135 0%,#ffffff 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.cont {
    margin-top: 150px;
}

.titulo-cstmr {
    margin-left: 610px;
    color: white; 
    font-family: "Courier";
    font-size: 38px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    width: 30em;
    animation: type 7s infinite; 
}

.opcoes-cstmr > Button {
    margin-top: 45px;
    margin-left: 748px;
    display: block;
}

@keyframes type{ 
    from { width: 0; } 
  } 
  
  @keyframes type2{
    0%{width: 0;}
    50%{width: 0;}
    100%{ width: 100; } 
  } 