/* Fields */

.field {
    display: block;
    width: 100%;
    padding: 10px 15px;
    margin: 0 0 15px;    
    border: 1px solid #bbb;
    border-radius:  8px;
    box-sizing: border-box;
    outline: none;
    color: #000;
}

.field::placeholder{
   color: #4f4f4f;
}

.field:focus::placeholder{
    color: #0081ff;
}

.field:focus {    
    border-color:#0081ff ;
    box-shadow: 0 0 12px rgba(0,129,255,0.5);
}

textarea.field {
    max-width: 100%;
    min-width: 100%;
    min-height: 150px;
}